//body seluruh
body {
    background-color: #ffffff;
    font-family: "Poppins", sans-serif;
    color: #071c4d;

    .breadcrumb {
        background-color: transparent;
        padding-top: 30px;
    }
    .breadcrumb-item {
        color: #1e3771;
    }
}

//navbar
.navbar-brand {
    img {
        max-height: 35px;
    }
}

.navbar-light {
    border-radius: 0px 0px 15px 15px;
    margin-left: 40px;
    margin-right: 60px;
    .navbar-nav {
        .nav-link {
            color: #071c4d;

            &:hover {
                font-weight: bold;
                color: #071c4d;
            }

            &.active {
                font-weight: bold;
                color: #071c4d !important;
            }
        }
    }
}

.btn-navbar-right {
    margin-top: 10px !important;
    margin-bottom: -8px !important;
    margin-right: -18px !important;

    text-align: left;
    width: 218px;
    height: 50px;
    &:hover {
        font-size: 20px;
        font-weight: bold;
        color: #071c4d;
    }
}

.btn-navbar-right-logout {
    margin-top: 10px !important;
    margin-bottom: -8px !important;
    margin-right: -18px !important;

    text-align: left;
    width: 218px;
    height: 50px;
    color: #c22c3b;
    &:hover {
        font-size: 20px;
        font-weight: bold;
        color: #c22c3b;
    }
}

.btn-navbar-right1 {
    margin-top: -10px !important;
    margin-bottom: -8px !important;
    margin-right: -18px !important;

    height: 70px;
    border-radius: 0 0px 15px 0;
    &:hover {
        background-color: #d6d6e0;
        font-weight: bold;
        color: #071c4d;
    }
}

//tombol-login-hp
.btn-login {
    background-color: #071c4d;
    color: #ffffff;

    &:hover {
        background-color: #1e3771;
        color: #ffffff;
    }
}

.profile-picture {
    max-height: 35px;
}

.dropdown {
    .dropdown-menu {
        p {
            font-weight: bold;
            font-size: 18px;
        }
        .name {
            margin-top: 10px;
            text-align: center;
        }
        .profile-picture1 {
            margin-top: 10px;
            margin-left: 75px;
        }
        border-radius: 15px;
        margin-top: 6px;
        margin-left: -159px;
        width: 220px;
        height: 365px;
    }
}

.btn-logout {
    background-color: #c22c3b;
    color: #ffffff;

    &:hover {
        background-color: #ff5969;
        color: #ffffff;
    }
}

//Index
//Header
header {
    padding: 180px 0px 165px;
    min-height: 800px;
    margin-top: 0px;
    background-image: url("../images/cover.jpg");
    background-size: cover;

    h1 {
        margin-top: 120px;
        font-family: "Poppins", sans-serif;
        color: #ffffff;
        font-weight: bold;
        font-size: 50px;
    }

    p {
        color: #ffffff;
        font-size: 22px;
    }

    .btn-get-started {
        background-color: #ff5969;
        color: #ffffff;

        &:hover {
            background-color: #c22c3b;
            font-weight: bold;
            color: #ffffff;
        }
    }
}

//Popular
.section-popular {
    min-height: 500px;
    background-color: #ff5969;
    margin-top: 0px;
    margin-bottom: -230px;

    .section-popular-heading {
        margin-top: 80px;

        h2 {
            font-family: "Poppins", sans-serif;
            font-weight: bold;
            font-size: 40px;
            color: #ffffff;
        }

        p {
            font-size: 18px;
            color: #ffffff;
        }
    }
}

//Paket
.section-paket {
    min-height: 540px;
    background-color: #ff5969;
    margin-top: -150px;
    margin-bottom: -230px;

    .section-paket-heading {
        margin-top: 150px;

        h2 {
            font-family: "Poppins", sans-serif;
            font-weight: bold;
            font-size: 40px;
            color: #ffff;
        }

        p {
            font-size: 18px;
            color: #ffff;
        }
    }
}

//Paket-Wedding
.section-paket1 {
    min-height: 700px;
    background-color: #ff5969;
    margin-top: 40px;
    margin-bottom: -450px;

    .section-paket1-heading {
        margin-top: 50px;

        h2 {
            font-family: "Poppins", sans-serif;
            font-weight: bold;
            font-size: 40px;
            color: #fff;
        }

        p {
            font-size: 18px;
            color: #fff;
        }
    }
}

//Paket-Video
.section-paket2 {
    min-height: 700px;
    margin-top: 80px;
    margin-bottom: -450px;

    .section-paket2-heading {
        margin-top: 50px;

        h2 {
            font-family: "Poppins", sans-serif;
            font-weight: bold;
            font-size: 40px;
            color: #1e3771;
        }

        p {
            font-size: 18px;
            color: #1e3771;
        }
    }
}

//Popular-Content
.section-popular-content {
    .section-popular-paket {
        .card-paket {
            min-height: 360px;
            background-color: #ddd;
            color: #ffffff;
            padding: 30px;
            background-size: cover;
            margin-bottom: 20px;
        }

        .paket-category {
            font-size: 18px;
            color: #0f1e3f;
        }

        .paket-subcategory {
            font-size: 26px;
            color: #0f1e3f;
            font-weight: bold;
        }

        .paket-button {
            .btn-paket-details {
                background-color: #ff5969;
                color: #ffffff;

                &:hover {
                    background-color: #c22c3b;
                    font-weight: bold;
                    color: #ffffff;
                }
            }
        }
    }
}

//Text
.section-text {
    background-color: #ffffff;
    margin-top: -200px;
    padding-top: 240px;
    padding-bottom: 50px;

    h3 {
        font-family: "Poppins", sans-serif;
        font-weight: bold;
    }

    p {
        font-size: 18px;
    }

    .btn-get-started {
        background-color: #ff5969;
        color: #ffffff;

        &:hover {
            background-color: #c22c3b;
            color: #ffffff;
        }
    }

    .btn-need-help {
        background-color: #f2f2f2;
        color: #c3c3c3;

        &:hover {
            background-color: #fafafa;
            color: #c3c3c3;
        }
    }
}

//Feature
.section-feature-heading {
    background: linear-gradient(#fff 0%, #f7f9ff 100%);
    margin-top: 30px;
    padding-top: 50px;
    min-height: 506px;

    h2 {
        font-family: "Poppins", sans-serif;
        font-weight: bold;
        font-size: 35px;
    }

    p {
        font-size: 18px;
    }
}

//Feature-Content
.section-feature-content {
    margin-top: -280px;
    padding-bottom: 50px;

    .card-feature {
        padding: 40px 20px 10px;
        border-radius: 15px;
        margin-bottom: 20px;
    }

    .feature-content {
        min-height: 300px;
    }

    h3 {
        font-size: 20px;
        font-weight: bold;
    }

    .feature {
        font-weight: 200;
        font-size: 20px;
        color: #6e6e6e;
    }

    img {
        max-height: 60px;
    }
}

//footer
.section-footer {
    background-color: #ff5969;
    color: #ffffff;
    .logocan {
        img {
            max-height: 150px;
        }
    }
    h5 {
        font-weight: bold;
        font-size: 25px;
    }
    a {
        color: #ffffff;
        text-decoration: none !important;
    }
}

//Details
//Details-Header
.section-details-header {
    min-height: 310px;
    background-color: #ff5969;
    margin-top: 0px;
}

//Details-Content
.section-details-content {
    margin-top: -210px;
    min-height: 100vh;

    .breadcrumb {
        background-color: transparent;
        padding: 0;
        margin-bottom: 30px;
    }

    .breadcrumb-item {
        a {
            color: #ffffff;
            text-decoration: none !important;
        }
        &.active {
            font-weight: bold;
            color: #ffffff;
        }
    }

    .card-details1 {
        padding: 30px;
        width: fit-content;
        border-radius: 15px 15px 15px 15px;
        border-color: #ff5969;
        background-image: url("../images/card.jpg");
        background-size: cover;

        h1 {
            margin-top: 25px;
            font-size: 30px;
            font-weight: bold;
        }

        h2 {
            font-size: 22px;
            font-weight: bold;
        }

        p {
            margin-top: 0px;
            font-size: 20px;
        }

        .batal {
            margin-top: 10px;
            font-weight: bold;
            font-size: 18px;
            color: #c22c3b;
        }
    }

    .card-details {
        padding: 30px;
        border-radius: 15px;
        border-color: #ff5969;

        h1 {
            font-size: 30px;
            font-weight: bold;
        }

        h2 {
            font-size: 20px;
            font-weight: bold;
        }

        h3 {
            font-size: 15px;
        }

        p {
            margin-top: 2px;
            font-size: 18px;
            color: #b1b1b1;
        }

        .paket-informations {
            th {
                font-weight: 300;
                font-size: 18px;
                color: #071c4d;
            }

            td {
                font-weight: 300;
                font-size: 18px;
                color: #b1b1b1;
            }

            //Checkout
            //Text-Total-Checkout
            .text-blue {
                color: #071c4d;
                font-weight: bold;
            }

            .text-pink {
                color: #ff5969;
                font-weight: bold;
            }
        }

        .payment-instruction {
            font-weight: 300;
            font-size: 14px;
            color: #b1b1b1;
        }

        .bank {
            .bank-item {
                h3 {
                    font-size: 18px;
                    color: #071c4d;
                    margin-bottom: 0;
                }

                p {
                    margin-bottom: 0;
                }

                .description {
                    margin-left: 10px;
                    overflow: hidden;
                    float: left;

                    p {
                        margin-top: 2px;
                        font-weight: normal;
                        font-size: 16px;
                        color: #071c4d;
                    }
                }
            }

            .bank-image {
                margin-top: 10px;
                width: 45px;
                height: 45px;
                float: left;
            }
        }

        .disclaimer {
            font-weight: 300;
            font-size: 14px;
            color: #b1b1b1;
        }

        .gj-datepicker {
            .datepicker {
                border-right: 0;
            }

            .input-group-append {
                .btn {
                    padding-right: 30px;
                }
            }
        }

        .btn-add-now {
            background-color: #071c4d;
            color: #ffffff;

            &:hover {
                background-color: #1e3771;
                color: #ffffff;
            }
        }
    }

    .card-right {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: 0;
    }

    .features {
        margin-top: 20px;

        h3 {
            font-size: 18px;
            color: #071c4d;
            margin-bottom: 0;
        }

        p {
            margin-bottom: 0;
        }

        .description {
            margin-left: 10px;
            overflow: hidden;
            float: left;
        }
    }

    .gallery {
        .xzoom-container {
            display: block;

            .xzoom {
                width: 100%;
                border-radius: 5px;
                box-shadow: none;
                margin-bottom: 10px;
            }

            .xactive {
                border: 4px solid #1abc9c;
                box-shadow: none;
            }
        }
    }

    .book-container {
        margin-top: -16px;
    }

    .btn-log-now {
        background-color: #071c4d;
        color: #ffffff;
        font-size: 19px;
        font-weight: bold;
        height: 60px;
        border-radius: 0px 0px 15px 15px;

        &:hover {
            background-color: #c22c3b;
            color: #ffffff;
        }
    }

    .btn-book-now {
        background-color: #ff5969;
        color: #ffffff;
        font-size: 19px;
        font-weight: bold;
        height: 60px;
        border-radius: 0px 0px 15px 15px;

        &:hover {
            background-color: #c22c3b;
            color: #ffffff;
        }
    }
}

//Success
.section-success {
    height: 90vh;

    img {
        margin-top: 20px;
        max-height: 350px;
    }

    h1 {
        font-weight: 600;
        font-size: 26px;
        color: #071c4d;
    }

    p {
        font-weight: 300;
        font-size: 18px;
        color: #b1b1b1;
    }

    .btn-home-page {
        background-color: #071c4d;
        color: #fff;

        &:hover {
            background-color: #1e3771;
            color: #fff;
        }
    }

    .btn-myorder {
        background-color: #ff5969;
        color: #ffffff;

        &:hover {
            background-color: #c22c3b;
            font-weight: bold;
            color: #ffffff;
        }
    }
}

.btn-edit-account {
    border-radius: 15px;
    font-size: 20px;
    background-color: #071c4d;
    color: #fff;

    &:hover {
        background-color: #1e3771;
        color: #fff;
    }
}

.btn-edit-confrim {
    border-radius: 10px;
    font-size: 19px;
    background-color: #ff5969;
    color: #fff;

    &:hover {
        background-color: #c22c3b;
        color: #fff;
    }
}

.btn-edit-etiket {
    border-radius: 10px;
    font-size: 12px;
    background-color: #ff5969;
    color: #fff;

    &:hover {
        background-color: #c22c3b;
        color: #fff;
    }
}

//Form-Login
.login-container {
    @media (min-width: 992px) {
        background: linear-gradient(90deg, #ffff 65%, #ff5969 35%);
        width: 100vw;
        height: 100vh;
    }
}

.page-login {
    height: 100vh;

    .section-left {
        h4 {
            font-family: Poppins;
            font-weight: 600;
            font-size: 25px;
            text-align: left;
            color: #06092d;
        }
        p {
            font-family: Poppins;
            font-weight: 300;
            font-size: 15px;
            text-align: left;
            color: #06092d;
        }
    }

    .section-right {
        .p-lupa {
            margin-top: -10px;
            margin-left: -10px;
        }

        .btn-home-page {
            margin-top: -10px;
            border-radius: 8px;
            background-color: #071c4d;
            color: #fff;

            &:hover {
                background-color: #1e3771;
                color: #fff;
            }
        }
        .card {
            padding: 30px;
            border-radius: 15px;
            border-color: #ff5969;
        }

        a {
            font-family: Poppins;
            font-weight: 300;
            font-size: 15px;
            line-height: 30px;
            text-align: left;
            color: #06092d;
        }
    }
}

.NoOrder {
    img {
        margin-top: 5px;
        max-height: 325px;
    }

    .btn-get-started {
        background-color: #ff5969;
        color: #ffffff;

        &:hover {
            background-color: #c22c3b;
            font-weight: bold;
            color: #ffffff;
        }
    }
}
